<footer class="footer bg-primary flex-md-nowrap p-0 shadow">
  <div class="container">
	<p> &copy; DigitalTwinFeed - User's Engineering discretion required for using results. This portal is not liable for any consequences of using available data on this site.</p>
  </div>
</footer>  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>