<!DOCTYPE html>
<html lang="en">

<svg  id=logo_rev2 width="80" height="70" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="background-color:white">
  <style>
  .MatrixText { font: 7px sans-serif; fill: lime}
  .heavy { font: bold 30px sans-serif; }

  /* Note that the color of the text is set with the    *
   * fill property, the color property is for HTML only */
  .Rrrrr { font: italic 40px serif; fill: red; }
  </style>
  <!--Insights Bulb-->
  <path d="M 53 20 C 35 2, 75 2, 57 20" stroke="black" fill="gold" stroke-linecap="round"/>
  <path d="M 53   20 L 57   20" stroke="black" fill="transparent" stroke-linecap="round"/>
  <path d="M 53.5 22 L 56.5 22" stroke="black" fill="transparent" stroke-linecap="round"/>
  <path d="M 54   24 L 56   24" stroke="black" fill="transparent" stroke-linecap="round"/>
  <path d="M 54.5 26 L 55.5 26" stroke="black" fill="transparent" stroke-linecap="round"/>
  <!--Insights Rays-->
  <!--Vertical Ray-->
  <path d="M 55 05 L 55 03" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <!--Pair Rays-->
  <path d="M 48 7 L 46 5" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <path d="M 62 7 L 64 5" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <!--Pair Rays-->
  <path d="M 46 14 L 43 14" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <path d="M 64 14 L 67 14" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <!--Pair Rays-->
  <path d="M 49 20 L 47 22" stroke="gold" fill="transparent" stroke-linecap="round"/>
  <path d="M 61 20 L 63 22" stroke="gold" fill="transparent" stroke-linecap="round"/>

  <!--Data repository-->
  <path d="M 10 10 C 10 0, 100 0, 100 10" stroke="saddlebrown" fill-opacity="0.4" fill="lightgray"/>
  <path d="M 10 10 C 10 20, 100 20, 100 10" stroke="saddlebrown" fill-opacity="0.4" fill="lightgray"/>
  <path d="M 10 10 L 10 40" stroke="saddlebrown" fill="transparent"/>
  <path d="M 100 10 L 100 40" stroke="saddlebrown" fill="transparent"/>
  <path d="M 10 40 C 10 50, 100 50, 100 40" stroke="saddlebrown" fill="transparent"/>
<!--Data Surface-->
  <path d="M 10 24 C 10 20, 20 20, 20 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 20 24 C 20 20, 30 20, 30 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 30 24 C 30 20, 40 20, 40 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 40 24 C 40 20, 50 20, 50 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 50 24 C 50 20, 60 20, 60 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 60 24 C 60 20, 70 20, 70 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 70 24 C 70 20, 80 20, 80 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 80 24 C 80 20, 90 20, 90 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
  <path d="M 90 24 C 90 20,100 20,100 23" stroke="lime" fill="transparent" stroke-linecap="round" stroke-width="0.3"/>
<!--Data-->
  <text x="25" y="32" class="MatrixText">0 .. 1 .. 0 .. 1 .. 0 .. 1</text>
  <text x="25" y="42" class="MatrixText">0 .. 1 .. 0 .. 1 .. 0 .. 1</text>

</svg>

</html>
